.title {
font-family: Roboto;
}
.wrapper {
margin: auto;
width: 80%;
}
body {
margin: 0;
}
.header {
display: flex;
justify-content: space-between;
margin-bottom: 120px;
padding-left: 4px;
}
.logo, .menu {
display: inline-block;
}
.menu__box {
  visibility: hidden;
}
.menu {
display: flex;
align-items: center;
padding-right: 12px;
padding-bottom: 5px;
}
.menu__item {
position: relative;
margin-right: 26px;
font: 500 18px/21px Roboto, arial, helvetica, sans-serif;
color: #000;
text-decoration: none;
transition: opacity .5s;
}
.menu__item:after {
position: absolute;
left: 0;
display: block;
content: '';
width: 0;
height: 3px;
background: #0056EC;
opacity: 0;
transition: opacity .5s, width .5s;
}
.menu__item:hover {
opacity: .5;
}
.menu__item:hover:after, .menu__item_active:after {
opacity: 1;
width: 100%;
}
.menu__item_active::after {
display: block;
position: absolute;
content: '';
left: 0;
width: 100%;
height: 3px;
background: #0056EC;
}
.menu__item:last-child {
margin-right: 0;
}
.menu__item:hover:after {
position: absolute;
left: 0;
display: block;
content: '';
width: 100%;
height: 3px;
background: #0056EC;
}
.logo {
position: relative;
padding: 40px 0;
padding-left: 44px;
font: bold 24px/31px pt_serifbold, arial, helvetica, sans-serif;
width: 190px;
height: 35px;
}
.logo__circle {
width: 28px;
height: 28px;
position: absolute;
left: 0;
top: 50%;
transform: translateY(-50%);
background: #0056EC;
border-radius: 50%;
opacity: .7;
}
.logo__circle_color_blue {
left: 8px;
top: 56%;
background: #C8DBFB;
}
.main {
background: top right no-repeat url(img/img.svg);
padding: 0 63% 268px 3px;
}
.main__title {
font: bold 66px/87px pt_serifbold, arial, helvetica, sans-serif;
margin: 0 0 36px 0;
padding-top: 74px;
}
.main__title-text_highlight {
background:linear-gradient(180deg,rgba(255,255,255,1) 15%, #ECF3FF 15%);
}
.main__subtitle {
font: 400 22px/26px Roboto, arial, helvetica, sans-serif;
margin: 0 0 40px 0;
width: 80%;
}
.main__button {
font: 500 18px/21px Roboto, arial, helvetica, sans-serif;
display: inline-block;
color: #fff;
background: #0056EC;
padding: 19px 22px;
text-decoration: none;
border-radius: 4px;
transition: opacity .5s;
width: 40%;
}
.main__button:hover {
opacity: .5;
}
.owl-dots {
text-align: center;
font-size: 0;
}
.owl-dot {
display: inline-block;
vertical-align: middle;
width: 8px;
height: 8px;
border-radius: 50%;
background-color: #C8DBFB;
margin: 0 2px;
}

#menu__toggle {
display: none;
}
#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}

@media (max-width: 1830px) {
.header {
margin-bottom: 90px;
}
.main {
padding: 0 60% 240px 3px;
}
}
@media (max-width: 1745px) {
.header {
margin-bottom: 80px;
}
.main {
background-size: 50%;
padding: 0 54% 180px 3px;
}
}
@media (max-width: 1500px) {
.header {
margin-bottom: 78px;
}
.main {
padding: 0 50% 120px 0;
}
}
@media (max-width: 1366px) {
.wrapper {
width: 68%;
}
.header {
margin-bottom: 74px;
padding-left: 0;
}
.menu {
padding-right: 3px;
padding-bottom: 2px;
}
.menu__item {
margin-right: 26px;
font: 500 14px/16px Roboto, arial, helvetica, sans-serif;
}
.menu__item:after {
height: 2px;
}
.menu__item_active::after {
height: 2px;
}
.menu__item:hover:after {
height: 2px;
}
.main {
background: top right no-repeat url(img/img2.svg);
padding: 0 63% 145px 0;
}
.main__title {
font: bold 50px/66px pt_serifbold, arial, helvetica, sans-serif;
padding-top: 16px;
width: 150%;
margin: 0 0 39px 0;
}
.main__subtitle {
font: 400 18px/21px Roboto, arial, helvetica, sans-serif;
width: 100%;
}
.main__button {
font: 500 14px/16px Roboto, arial, helvetica, sans-serif;
padding: 15px 16px;
width: 50%;
}
}
@media (max-width: 1360px) {
.wrapper {
width: 75%;
}
}
@media (max-width: 1332px) {
.wrapper {
width: 80%;
}
}
@media (max-width: 1200px) {
.wrapper {
width: 85%;
}
}
@media (max-width: 1150px) {
.wrapper {
width: 90%;
}
}

@media (max-width: 1024px) {
.wrapper {
width: 91%;
}
.header {
margin-bottom: 74px;
}
.menu {
padding-right: 0px;
}
.menu__item {
margin-right: 26px;
font: 500 14px/16px Roboto, arial, helvetica, sans-serif;
}
.menu__item:after {
height: 2px;
}
.menu__item_active::after {
height: 2px;
}
.menu__item:hover:after {
height: 2px;
}
.main {
background: top right no-repeat url(img/img3.svg);
padding: 0 62% 145px 0;
}
.main__title {
font: bold 50px/66px pt_serifbold, arial, helvetica, sans-serif;
padding-top: 16px;
width: 150%;
margin: 0 0 38px 0;
}
.main__subtitle {
font: 400 18px/21px Roboto, arial, helvetica, sans-serif;
width: 100%;
margin: 0 0 41px 0;
}
.main__button {
font: 500 14px/16px Roboto, arial, helvetica, sans-serif;
padding: 15px 16px;
width: 50%;
}
}

@media (max-width: 1000px) {
.header {
margin-bottom: 65px;
}
.main {
background-size: 50%;
padding: 0 60% 120px 0;
}
.main__title {
font: bold 47px/58px pt_serifbold, arial, helvetica, sans-serif;
}
@media (max-width: 970px) {
.header {
margin-bottom: 60px;
}
.main {
background-size: 45%;
padding: 0 59% 120px 0;
}
.main__button {
/*font: 500 14px/16px Roboto, arial, helvetica, sans-serif;*/
width: 60%;
}
}

@media (max-width: 768px) {
.menu, .owl-dots, .logo__text {
display: none;
}
.wrapper {
width: 90%;
}
.header {
margin-bottom: 30px;
}
.logo__circle {
left: 0;
top: 38px;
}
.logo__circle_color_blue {
left: 8px;
top: 44px;
}
.main {
  background: top right no-repeat url(img/img4.svg);
  text-align: center;
  padding: 50% 0 0;
  background-size: 60%;
  background-position: top center;

  }
  .main__title {
  display: inline-block;
  margin-bottom: 25px;
  padding-top: 10px;
  font: bold 48px/60px pt_serifbold, arial, helvetica, sans-serif;
  width: 80%;
  }
  .main__subtitle {
  display: inline-block;
  margin-bottom: 24px;
  font: 500 18px/22px Roboto, arial, helvetica, sans-serif;
  width: 70%;
  }
  .main__button {
  font: 500 14px/16px Roboto, arial, helvetica, sans-serif;
  width: 30%;
  padding: 16px 17px;
  }




.menu__btn {
  display: flex;
  align-items: center;
  position: fixed;
  top: 32px;
  right: 24px;

  width: 25px;
  height: 17px;

  cursor: pointer;
  z-index: 1;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;

  width: 100%;
  height: 3px;

  background-color: #0056EC;

  transition-duration: .1s;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}

.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;

  width: 100%;
  height: 100%;

  margin: 0;
  padding: 80px 0;

  list-style: none;
  text-align: center;

  background-color: #FFF;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);

  transition-duration: .25s;
}

.container {

}

.menu__hamburger {
  padding-top: 20px;
  margin-top: 0;
  display: inline-block;
  align-items: center;
  text-align: center;
  color: #000;
  font: 500 30px/35px Roboto, arial, helvetica, sans-serif;
  text-decoration: none;
  transition-duration: .25s;
}
.menu__hamburger:hover {
  background-color: #CFD8DC;
}
}


@media (max-width: 375px) {
.wrapper {
width: 87%;
}
.header {
margin-bottom: 0;
height: 87px;
}
.main {
padding: 77% 0 0;
background-size: 60%;
}
.main__title {
margin-bottom: 33px;
padding-left: 3px;
font: bold 30px/39px pt_serifbold, arial, helvetica, sans-serif;
width: 100%;
}
.main__subtitle {
padding-left: 37px;
width: 79%;
}
.main__button {
width: 56%;
padding-left: 8px;
}
